/* aplicação de estilo a todo o body para personalizar cores do site, fonte e espaçamento. */
body {
margin: 0; 
background-color: #f0f0f0; 
background-size: cover; 
background-position: center; 
font-family: Arial, sans-serif; 
color: #333; 
}

/* Estilos para os diferentes layouts */
.conteudo {
    display: none;
}


/* Formatação CSS para os links. */
.links-container {
    display: flex; 
    justify-content: space-between; 
    padding: 0 10px; 
    background-color: gray; 
}

.links-container a {
    color: black; 
}

.links-container a:hover {
    background-color: #555; 
}

/* Class para atribiur às divs para que fiquem à direita, com algumas estilizações de cores e espaçamentos. */
.container {
    display: flex;
    flex-direction: row; 
    max-width: auto; 
    margin: 0 auto; 
    padding: 20px;
    background-color: lightgray; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Class para fazer com que a div dentro do link de Portfólio fique disponível para expansão, na forma de colunas (ou seja, uma abaixo da outra.), juntamente com as class de topic para formatações e estilizações necessárias. */
.container_topic {
    display: flex;
    flex-direction: column; 
    width: 1800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: lightgray; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.topic {
    background-color: rgba(139, 207, 139, 0.788);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topic-header {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background-color: rgba(114, 224, 114, 0.788);
}

.topic-header:hover {
    background-color: rgba(4, 241, 4, 0.788);
}

.topic-content {
    padding: 15px;
    display: none; 
}

.topic img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}


/* Formatações e classes para configurações do formulátio. */
form {
    width: 90%;
    max-width: auto; 
    background-color: lightgray; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Adiciona regras de estilo de mídia para ajustar o layout em tamanhos de tela menores */
@media (max-width: 768px) {
    form {
        width: 100%;
    }
}



/* Classe para formatação da div onde está a imagem e formatação da imagem dentro da div */
.image-div {
    width: 20%; 
    background-color: lightyellow; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}
.image-div img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.image-div p{
    margin: 0%;
}


/* Div para o texto que ficará a direita.*/
.text-div {
    flex-grow: 1; 
    text-align: justify;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.text-div p {
    margin: 0%;
}


/* Estilo para os links */
a {
    padding: 15px; 
    text-decoration: none; 
    color: black; 
    background-color: gray; 
    border-radius: 5px; 
    border: 2px solid transparent;
}
/* Estilo para os links quando passa o mouse sobre eles */
a:hover {
    background-color: gray; 
    border-color: black;
}

h1 {
    text-align: center;
}

p{
    font-size: large;
}